.wrapper{
    font-family: 'arial';

    padding: 0px 38px;
 
}

.galeria{
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-around;
  
}
.title_galeria {
    font-size: 16px;

}
 
.button{
    background-color: #232f0e;
    padding: 13px;
    border-radius: 6px;
    border: 0px;
    color: white;
}