 
        <div class="wrapper">
            <h1>Example of language detection</h1>

            <section  class="galeria">
                <div>
                    <h2 class="title_galeria">Image alt="un perro jugando con una pelota" property </h2>
                    <a aria-label="link perro jugando con pelota" href="#"> <img alt="perro jugnado" src="./assets/perro.webp"  /></a> 
                </div>
            <div>
                <h2  class="title_galeria">Image alt="" property </h2>
                <a  aria-label="link perro jugando con pelota" href="#">   <img src="./assets/perro.webp" /></a>
            </div>
     
    
            </section>

            <section  class="buttons_section">
                <h1>Example of Buttons</h1>

                <h2>Anchor vs Button</h2>
                <a class="button" aria-label="Continue">Continue (link)</a>
                <a class="button" aria-label="Continue" role="button" tabindex="0">Continue (role=button)</a>
                <button class="button">Continue</button>
                <hr>
              
              
                <h2>Disabled buttons (not focusable )</h2>
                
                <a class="button" aria-label="Continue" role="button" tabindex="0" disabled>Continue</a>
                <button class="button" disabled>Continue</button>
                <hr>
                 
    
            </section>
        </div>
     